#navbar {
    display: flex;
    align-items: center;
    padding: auto;
    max-width: 1300px;
    margin: auto;
}
nav{
    flex: 1;
    text-align: right;
    list-style: none;
}
nav ul {
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a{
    color: #727272;
    text-decoration: none;
}
#navbar a:hover{
    color: black;
}
body, ul{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#mid{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #e2e2e2;
    padding: 10px;
}

li{
    flex: 1;
    text-align: center;
    padding: 10px;
}
form{
    text-align: center;
    margin-top: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 200px;
}
input[type="submit"] {
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 10px 20px;
}

